/* Element Stylings */

header {
  background-color: rgba(136, 133, 133, 0.61);
  text-align: center;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}

/* Class Stylings */

.search-label {
  font-size: 25px;
}

.card-header {
  margin-bottom: 3px;
}

.card {
  margin: 15px;
  outline: solid 1px black;
}

.button2 {
  display: block;
  width: 64.5%;
  text-align: center;
  margin-top: 2px;
}

.my-cute-border{
  border-right: solid 1px black;
}

.col-12 {
  max-width: 98.6%;
}